$primary-color: #fff;
$color-nav: #212121;
$accent-color: #2196f3;
$color-contact: #757575;
$color-text: #212121;
$background-hero: #2f303a;
$portfolio-button-bc: #f5f4fa;
$background-team: #f5f4fa;
$border-color: #ececec;
$color-soc-links: #afb1b8;
$soc-links-hover: #fff;
$footer-soc-background: rgba(255, 255, 255, 0.1);
$placeholder-color: rgba(255, 255, 255, 0.6);

$primary-font: Roboto;
$logo-font: Raleway;
